@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section,
footer,
header {
  width: 100vw;
  padding: 0 9%;
}
h1,
h2,
h3 {
  color: navy;
}
/*-------------------- Hedaer -----------------*/
header {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.navi-items a {
  text-decoration: none;
  margin-right: 20px;
  color: navy;
}

/* -----------------Top section--------------------- */
.top-section {
   display: flex;
   justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
section-title {
  max-width: 100%;
}
.section-title h1 {
  font-size: 50px;
}
.section-title h1,
p,
.start-button {
  margin: 10px 0;
}
.start-button {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: navy;
  color: white;
  font-weight: 400;
}
.start-button:hover{
    transform: scale(1.3);
    transition: transform .5s;
}
.main-img {
    
  border: 1px solid lightgray;
  border-radius: 50%;
}
.main-img:hover{
    transform: rotate(360deg);
    transition: transform 1.5s;
}

/* ....................Logo........................ */
.logos {
  border: 1px solid whitesmoke;
  display: flex;
  flex-wrap: wrap;

  /* grid-template-columns: repeat(7,1fr); */
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.logo {
  margin: 0 30px;
}
/*------------------- Products Items ------------------------*/
.product-container h2 {
  font-size: 25px;
  text-align: center;
  padding: 50px 30px;
}
.product {
  margin: 15px;
  padding: 20px 15px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.see-more {
  margin-top: 50px;
  font-weight: 500;
  color: navy;
  text-align: right;
}
.star-rating {
  display: flex;
  align-items: center;
}
.star-rating p {
  margin-left: 20px;
}
.filled {
  color: navy;
}
.empty {
  color: lightgray;
}
.product-note {
  color: steelblue;
}
/* -----------------------Vlog ------------------------------*/
.vlog {
  display: flex;
  justify-content: space-between;
}

.vlog-title {
  max-width: 50%;
}
.watch-btn {
  text-align: right;
  margin-top: 50px;
  padding: 10px 20px;
  border: none;
  background-color: navy;
  color: white;
  font-weight: 700;
}
.watch-btn:hover{
    transform: scale(1.3);
    transition: transform .5s;}
/*---------------------- Footer --------------------------*/
.footer-vlog {
  min-width: 100%;
  padding: 20px 0;
  text-align: center;
  margin-top: 200px;
  color: white;
  background-color: navy;
  display: column;
  justify-items: center;
}
#footer-head {
  color: white;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fab {
  margin: 0 10px;
}

.footer-vlog h3,
.footer-vlog p,
.social-icons {
  margin: 10px 0;
}

/* ---------------------Media Queries --------------------*/

/*----------------------- Mobile Device----------------------- */
@media (max-width: 688px) {
  main footer {
    width: 100%;
    align-items: center;
  }
  header{
      flex-direction: column;
      align-items: center;
  }
  .navi-items {
      margin-top: 20px;
  }
  .top-section{
      flex-direction: column;
     }
     .section-title{
         max-width: 100%;
     }
     .logo{
         margin: 20px;
     }

  .products {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .product {
    flex-direction: column;
  }
  .product-img img {
    width: 100%;
  }
  .vlog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vlog-img img,.vlog-title{
      max-width: 100%;
  }
}
/* ----------------------  Tablet Devices   -------------------------*/
@media only screen and (max-width:992px) {
 .container{
    max-width: 100%;
    
    
}
header{
    margin-top:25px;
}

.section-title {
    max-width: 50%;
}

.products{
    
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}




}
    